body{
    background: linear-gradient(#5AB9F3,#00BCFF,#2F90FF);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
button{
    /* border: none; */
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #2e2a2a00;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 2.5px 5px #2e2a2a;
}
#weather{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 5px 10px #2e2a2a;
}
#location{
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (max-width:800px) {
    #location{
        flex-direction: column;
    }
}
#temperature{
    font-size: 1rem;
    font-weight: 500;
}
#time{
    font-size: 1rem;
    font-weight: 500;
}